<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" /> <!-- <permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" android:protectionLevel="signature" -->
    <!-- tools:ignore="ReservedSystemPermission" /> -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <!--
    <uses-permission android:name="android.permission.INTERACT_ACROSS_PROFILES"
        tools:ignore="ProtectedPermissions" />
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_CLIPBOARD_SERVICE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".ui.App"
        android:allowBackup="false"
        android:backupInForeground="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fitsSystemWindows="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_main_final_new"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_main_final_new_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Celerity"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        tools:targetApi="tiramisu">
        <activity
            android:name=".ui.DeductionHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ListSignedDocsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.OutstandingDeductionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SignedDocActivity"
            android:exported="false" />
        <activity
            android:name=".ui.EmergencyContactActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddInspectionActivity2"
            android:exported="false" />
        <activity
            android:name=".utils.ImageTakerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.VehicleExpiringDocuments"
            android:exported="false" />

        <receiver android:name=".utils.NotificationBroadcastReciever" />

        <activity
            android:name=".ui.FaceScanActivity"
            android:exported="false" />
        <activity
            android:name=".utils.ClsCaptureTwo"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".utils.ClsCapture"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.AddInspection"
            android:exported="true">

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>

        <service
            android:name=".services.FirebaseNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.ViewTicketsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CommentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DeductionAgreementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddCommentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PolicyDocsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CreateTicketsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Celerity" />
        <activity
            android:name=".ui.WeeklyRotaApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".DeductionAgreement"
            android:exported="false" />
        <activity
            android:name=".ui.ExpiringDocumentsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HomeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:screenOrientation="portrait"
            tools:replace="android:authorities" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="face" />
    </application>

</manifest>